@import './_variables.scss';

.contact_page_container {    
    display: flex; flex-direction: column;
    width: 100%;
    padding: 2.5rem 0;
    @media #{$mq-xsmall} {
        margin-top: 10rem;
    }

    .contact_page_content {
        width: 100%;
        margin: 0 auto;
        
        @media #{$mq-xsmall} {
            padding: 5%;
        }
        @media #{$mq-small} {
            // padding: $content-padding-tablet;
            max-width: $max-content-tablet;
            padding: 5rem 2rem;
        }
        @media #{$mq-medium} {
            // padding: $content-padding-desktop;
            max-width: $max-content-desktop;
        }
    }

    > div {
        display: flex; flex-direction: column; align-items: flex-start;

        ul {
            list-style-type: none;
            padding: 0;
            li, a {
                margin: 0;
                line-height: 1;
                display: flex; align-items: center;
                font-size: 1.8rem;
                // color: #333;
            }
            li {
                padding: 1rem 0;
                img {
                    margin-right: .8rem;
                }
                a {
                    text-decoration: none;
                    transition: color .2s ease-in;
                }
                a:hover {
                    color: $blue;
                    img {
                        filter: $blue_css_filter;
                    }
                }
            }
        }
    }
}